
.input-group{
    width: 40% !important;
    padding: 12px;
}
.input-group input{
    border: none !important;
    outline: none !important;
}
.client img{
    filter: grayscale(1);
    opacity: .7;
}
.client img:hover{
    filter: none;
    opacity: 1;}

.home{
    background-image: url(../img/hero-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.tamem{
    background-color: rgba(0, 0, 0, 0.5);
}
.parent3 ul li a{
    color: rgba(245, 236,236,0.637) !important;
}
.parent3 ul li a:hover{
    color: white !important;
}
.home nav .dropdown-item{
    color: black !important;
}
.home nav .tog{
    color: black !important;
}
.home nav .dropdown-item:hover{
    color: #bb2d3b !important;
}
.home nav .tog:hover{
    color: #bb2d3b !important;
}
.input-group{
    width: 40% !important;
    padding: 12px !important;
}
.pictures{
    background-color: rgba(0, 0, 0, 0.65);
}
.stats{
    background-image: url(../img/stats-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2rem;
}
.stats h1{
    font-size: 50px;
    font-weight: bold;
}
.stats h5{
    color: #b4b2b2;
    font-weight: bolder;
    font-size: 17px;
}
.line{
    width: 50px;
    height: 2px;
    display: inline-block;
    background-color: #BB2D3B;

}
.services .serv i{
    font-size: 60px;
    position: relative;
    padding: 0;
    width: 60px;
}
.services .serv i::after{
    content: "";
    position: absolute;
    background-color: #d33747c4;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    bottom: 10%;
    right: -10%;
    z-index: -1;
}

.services .line1{
    display: inline-block;
    width: 4%;
    height: 2px;
    background-color: #BB2D3B;
}
.services .line2{
    display: inline-block;
    width: 90%;
    height: 2px;
    
}
.services .serv h4{
    transition: .3s;
}
.services .serv h4:hover{
    color: #BB2D3B;
}
.services a{
    text-decoration: none;
    color: #32353A;
}
.services a:hover h4{
    color: #d33746;
}
.services a:hover p{
    color: #32353A;
}
.features .img1{
    width: 60%;
    position: relative;
    top: 20%;
    right: 30%;
    border: 5px solid #fff;
}
.features .img2{
    width: 60%;
    position: relative;
    left: 50%;
    border: 5px solid #fff;

}
.features .img3{
    border: 8px solid #fff;

}

.portfolio .option div:hover{
    color: white;
    background-color: #d33746;
    border-radius: 20px;
}
.portfolio .port-parent{
    position: relative;
    transition: .5s;
}
.portfolio .port-parent img{
    height: 100%;
}
.portfolio .port-parent .port{
    position: absolute;
    bottom: 0;
    z-index: -1;
}

.portfolio .port-parent .port i:hover{
    color: #d33746;
}
.portfolio .port-parent:hover .port{
    z-index: 1;
    transition: .5s;
}
.pricing .price-icon{
width: 70px !important;
    height: 70px !important ;
    position: relative;
    border: 7px solid #F8CBCB;
    outline: 7px solid #FDECEC;
}

.pricing .card{
    border-radius: 25px;
    margin-top: 50px;
}
.pricing .active-price{
    margin: -20px -12px !important;
    border: 5px solid #BB2D3B;
    padding-bottom: 40px !important;
}
.pricing .active-price p{
    font-size: 20px;
}
.questions .collapsed{
    color: black !important;
}
.team{
    background-color: #F4F4F4;
}

.team img{
    width: 100% !important;
    height: 100% !important;
    border: 5px solid white;
}
.team .img-father{
    width: 70%;
    height: 40%;
    position: relative;

}
.team .img-father .img-overlay{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.514);
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    transition: .5s;
}
.team .img-father .img-icons{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.team .img-father .img-icons i{
    margin-right: 8px;
    font-size: 18px;
}
.team .img-father:hover .img-overlay{
    transition: 0.5s;
    z-index: 1;
}
.team .img-father .img-icons i:hover{
    color: #d33746 !important;
}

.call{
    background-image: url(../img/cta-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.call p{
    font-size: 18px;
}
.call .call-btn{
    border: 3px solid White;
    transition: 0.5s;
}
.call .call-btn:hover{
    background-color: #d33746;
    border-color: #d33746;
    transition: .5s;
}

.testimonials{
    background-color: #eee7e7;
}
.testimonials .icon{
    color: #F6B5B5;
}
.testimonials img{
    width: 30% !important;
}
.testimonials .carousel-indicators button{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

.contact .contact-box{
    background-color: #F8F8F8;
    line-height: .6;
}
.contact .inp{
    width: 49%;
}
.contact input[type="text"],
.contact textarea{
    border: 1px solid #b4b2b2;
}
.contact input[type="text"]:focus,
.contact textarea:focus{
    outline: 1px solid #d33746;
    border: none;
}
.footer{
    background-color: #F4F4F4;
}
.footer p{
    font-size: 15px;
}
.footer .footer-p{
    font-size: 15px;
    color: rgba(33, 37, 41, .8);

}
.footer .footer-icons i{
    width: 38px;
    text-align: center;
    display: inline-block;
    height: 38px;
    border: 1px solid #b4b2b2;
    border-radius: 50%;
    padding: 5px 5px;
    font-size: 18px;
    transition: .5s;

}
.footer .footer-icons i:hover{
    color: #d33746 !important;
    border-color: #d33746;
    transition: .5s;
}
.footer h5{
    color: #32353A;
}
.footer ul{
    list-style: none;
    text-align: start;
}
.footer ul{
    margin-left: -28px;
}
.footer ul li{
    padding: 5px 0;
}
.footer ul li a{
    text-decoration: none;
    color: rgba(33, 37, 41, .8);
    transition: .5s;
    font-size: 14px;
}
.footer ul li a:hover{
    color: #d33746;
    transition: .5s;
}
.copy-rights{
    background-color: #EAEAEA;
}
.icon{
    background-color: rgb(253, 250, 250);
   border-radius: 50%;
    color:#d33746 ;
    transition: 1s all;
}
.icon:hover{
    background-color: #d33746;
    color: rgb(253, 250, 250) !important ;
    transition: 1s all;
}
.scroll{
    background-color: #BB2D3B;
}
.navbar ul li{  
    padding: 10px;
  }
  .navbar ul li a{
    
   transition: 1s all;
    color: white   ;
  }
  .navbar ul li a:hover{
    transition: 1s all;
    color: white;
    font-weight: bolder;
    border-bottom: 1px solid white;
  }